body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.5;
}

a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: none;
	text-decoration: none;
}

.left_panel {
	background: #32323e;
	height: 100vh;
	width: 15%;
	color: #fff;
	float: left;
}

.right_panel {
	float: right;
	height: 100vh;
	width: 85%;
	background: #32323e;
	color: #000;
	overflow: scroll;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

/*
*	LEFT SIDE
*/
.logo {
	vertical-align: middle;
	text-align: center;
	margin: 25px 0;
}

.logo>img {
	width: 60%;
}

.left_panel_menu .title {
	margin: 25px 25px 0 35px;
	font-size: 16px;
}

.left_panel_menu_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.left_panel_menu_list a {
	font-size: 24px;
	display:block;
	padding: 8px 0px 8px 40px;
	border-left: 6px solid #32323e;
}

.left_panel_menu_list a:hover {
	background: #101014;
	border-left: 6px solid #6441a5;
}

.left_panel_menu_list a:focus {
	background: #101014;
	border-left: 6px solid #6441a5;
	outline: none;
}

#game-list-header {
	float: left;
	margin-left: 25px;
	width: 50%;
	color: #fff;
}

#twitch-loader {
	text-align: center;
	display: none;
}

input[type="search"] {
	margin: 30px 0px 0px 0px;
	width: 230px;
	height: 40px;
	padding: 0px 0px 0px 10px;
	font-size: 24px;
	color: #FFF;
	background-color: #000;
	border-color: #ccc;
}

/*
*	RIGHT SIDE
*/

/*	GAME BOX */
.game_box {
	width: 210px;
	height: 355px;
	float: left;
	padding: 10px;
	color: #fff
}

.game_box img {
	max-width: 100%;
	height: auto;
}

.game_title {
	overflow: hidden;
	font-size: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.game_viewers {
	font-size: 14px;
	color: #6B6B6B;
}

.game_box:hover, .game_box:focus {
	color: #000;
	background: #fff;
}

/*	STREAM PREVIEW */
.stream_box {
	max-width: 384px;
	height: 278px;
	float: left;
	padding: 10px;
	color: #fff;
}

.stream_box img {
	max-width: 100%;
	height: auto;
}

.stream_title {
	overflow: hidden;
	font-size: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.stream_viewers {
	font-size: 14px;
	color: #6B6B6B;
}

.stream_box:hover, .stream_box:focus {
	background: #fff;
	color: #000;
}

/*
*	STREAM
*/
.stream_frame {
	height: 100vh;
}

.back {
	position: absolute;
	top: 10px;
	left: 10px;
}

.back img {
	width: 36px;
	height: 36px;
}

.twitch-error{
	text-align: center;
	display: none;
	color: #fff;
}
